<footer class="bg-gray-800 text-white ">
  <div class="max-2-6xl max-auto px-4 py-10 md:py-20">


      <div class="xl:grid xl:grid-cols-3 xl:gap-8">
        <!--About us -->
        <div class="space-y-8 xl:col-span-1">
          <p class="text-sm font-semibold text-gray-200 tracking-wider uppercase ">
            About Onisa Designs
          </p>
          <p class="text-white leading-6">
            Onisa Designs is a leading online Market Place offering a wide range of recycled products. We are a team of talented designers and developers making trash to treasure
          </p>
        </div>
        <!-- Quicklinks -->

        <div class="mt-12 grid grid-cols-1 gap-8 xl:mt-0 xl:col-span-1">
          <div class="md:grid md:grid-cols-1 md:gap-8 justify-center">
            <div>
              <p class="text-sm font-semibold text-gray-200 tracking-wider uppercase ">
                QUICK LINKS
              </p>
              <ul class="mt-4 space-y-4">
                <li>
                  <%= link_to "Home", root_path, class: "text-base leading-6 text-white hover:text-gray-100" %>
                </li>
                <li>
                  <a href="#" class="text-white hover:text-gray-200">Shop</a>
                </li>
                <li>
                  <a href="#" class="text-white hover:text-gray-200">News</a>
                </li>
                <li>
                  <a href="#" class="text-white hover:text-gray-200">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Contact Information -->
        <div class="mt-12 grid grid-cols-1 gap-8 xl:mt-0 xl:col-span-1">
          <div class="md:grid md:grid-cols-1 md:gap-8 ">
            <div>
              <p class="text-sm font-semibold text-gray-200 tracking-wider uppercase ">
                Contact Information
              </p>
              <ul class="mt-4 space-y-4">
                <li>
                  <p  class="text-base text-white hover:text-gray-200">
                    +254 712 345 678 <br>
                    Nairobi Kenya
                  </p>
                </li>
                <li>
                  <p  class="text-base text-white hover:text-gray-200">
                    Email: info@onisadesign.com
                  </p>
                </li>

                <li>
                  <p  class="text-base text-white hover:text-gray-200">
                    <%= icon('fa-solid', 'phone', class: 'mr-2') %> +254 345 678 123
                  </p>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>


    </div>

</footer>