<h4> Admin Home Panel </h4>

<div class="flex justify-between flex-wrap mt-8 w-full items-center max-w-4xl">
  <h2 class="text-2xl text-gray-800 font-medium mb-4">Daily Stats</h2>
  <%= render partial: 'daily_stats' %>
  <!--Graph Revenue -->
  <div class="my-8 w-full">
    <h2 class="text-2xl text-gray-800 font-medium mb-4">Revenue</h2>
    <div class="w-full" data-controller="dashboard" data-dashboard-revenue-value="<%= @revenue_by_day.to_json %>">
      <canvas id= "revenueChart"></canvas>
    </div>
  </div>

  <%= render partial: 'unfulfil' %>

</div>
