<div id="<%= dom_id stock %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= stock.product.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total Number In Stock: </strong>
    <%= stock.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Product Details / Flavour if Candle</strong>
    <%= stock.size %>
  </p>

</div>
